{{>heder}}

{{!

By including the flush tag, we explicitly flush the data rendered so
far, sending it to the client before continuing. This makes sure that
the client receives and can act upon links to external scripts and
stylesheets as soon as possible, improving total delivery time of the
web page.

}}

{{mu_flush}}

{{pause}} {{! Inflate the delay, so it is readily observable }}
{{{react_contents}}}

{{>footer}}
